body {
  background-color: aliceblue;
  
}

.App {
  font-size: xx-large;
}
.todolist {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  background-color: rgba(110, 110, 247, 0.116);
  text-align: center;
}
.content{
  margin-left: 15vh;
}

.additem{
  padding-top: 40px;
  font-size: 30px;
  margin-bottom: -30px;
}

#takeinput {
  /* height: 2rem;
  width: 10rem; */
  font-size: xx-large;
}

button {
  margin-left: 20px;
  padding: 0 3vh 0 3vh;
  font-size: xx-large;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
